.accountArea {
    width: 100%;
    height: 877px;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logIn {
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .login-labeltext {
            label {
                color: white;
                font-size: 30px;
                font-family: "Bubblegum Sans", cursive;
            }

            input {
                font-family: "Bubblegum Sans", cursive;
                width: 200px;
                height: 30px;
                font-size: 20px;
            }
        }


        .login-titleText {
            font-family: "Bubblegum Sans", cursive;
            color: white;
            font-size: 30px;
            -webkit-text-stroke: 2px black;
        }

        button {
            width: 100px;
            height: 40px;
            font-size: 20px;
            margin-top: 2px;
            font-family: 'Bubblegum Sans', cursive;
            color: #4178ee;
            background-color: white;
            cursor: pointer;
            margin-bottom: 70px;
            text-transform: uppercase;

            &:hover {
                background-color: rgb(175, 164, 149);
            }
        }
    }

    .createAccount {
        margin-top: -100px;
        margin-bottom: -50px;
        width: 400px;
        height: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .create-labeltext {
            display: flex;
            justify-content: space-between;

            label {
                color: white;
                font-size: 30px;
                font-family: "Bubblegum Sans", cursive;
            }

            input {
                font-family: "Bubblegum Sans", cursive;
                width: 200px;
                height: 30px;
                font-size: 20px;
            }
        }


        .create-titleText {
            font-family: "Bubblegum Sans", cursive;
            color: white;
            font-size: 30px;
            -webkit-text-stroke: 2px black;
        }

        
        button {
            width: 100px;
            height: 40px;
            font-size: 20px;
            margin: 0 auto;
            margin-top: 2px;
            font-family: 'Bubblegum Sans', cursive;
            color: #4178ee;
            background-color: white;
            cursor: pointer;
            margin-bottom: 70px;
            text-transform: uppercase;

            &:hover {
                background-color: rgb(175, 164, 149);
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .accountArea {
        flex-direction: column;
    }
}